BASE_URL=https://horse-shipt.vercel.app
GOOGLE_MAPS_APIKEY=AIzaSyBUX8zHtnnP48SEh0Ur1mtAr2tckIugLsw
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51T6oVICVoPk11ijL51FMIuNhin8FIjyoJSOITwlK6AqEutL9Jl4bwdOrhziWtZdaBesLZSJheByHGV5RNHbMrYfH00yf77nS4r
GOOGLE_WEB_CLIENT_ID=572010941912-8o2qmpdducgt69senfsfeol8jrfva0op.apps.googleusercontent.com
